# Importamos las librerías necesarias

In [2]:
import pandas as pd
import numpy as np

### Leemos el archivo de Frutas y Hortalizas

In [3]:
nombre_archivo = 'Frutas y Hortalizas.csv'
df_fruits = pd.read_csv(nombre_archivo)
df_fruits

,_id,RegiUn,Tipo punto monitoreo,Sector,Semana,Fecha,Tipo producto,Producto,MInimo,M*ximo,Promedio
0,1,7,Feria libre,Talca,28,08/07/2013,Fruta-Hortaliza,Ajo Chino $/unidad 1a (guarda),125,150,"137,5"
1,2,7,Feria libre,CuricÛ,28,08/07/2013,Fruta-Hortaliza,Ajo Chino $/unidad 1a (guarda),100,160,140
2,3,7,Feria libre,Talca,28,08/07/2013,Fruta-Hortaliza,Ajo Chino $/unidad 2a (guarda),100,100,100
3,4,7,Feria libre,Talca,28,08/07/2013,Fruta-Hortaliza,Apio Americano $/unidad Primera,800,800,800
4,5,7,Feria libre,CuricÛ,28,08/07/2013,Fruta-Hortaliza,Apio Americano $/unidad Primera,800,900,850
...,...,...,...,...,...,...,...,...,...,...,...
21755,21756,13,Supermercado,Centro,39,23/09/2013,Fruta-Hortaliza,Zapallo italiano Sin Especificar $/unidad Primera,477,589,"518,8"
21756,21757,13,Supermercado,Poniente,39,23/09/2013,Fruta-Hortaliza,Zapallo italiano Sin Especificar $/unidad Primera,490,619,"566,75"
21757,21758,13,Supermercado,Oriente,39,23/09/2013,Fruta-Hortaliza,Zapallo italiano Sin Especificar $/unidad Primera,559,599,"573,4"
21758,21759,13,Supermercado,Norte,39,23/09/2013,Fruta-Hortaliza,Zapallo italiano Sin Especificar $/unidad Primera,559,619,589
21759,21760,13,Supermercado,Sur,39,23/09/2013,Fruta-Hortaliza,Zapallo italiano Sin Especificar $/unidad Segunda,439,439,439

### Leemos el archivo de Resto de productos

In [4]:
nombre_archivo = 'Resto de productos.csv'
df_others = pd.read_csv(nombre_archivo)
df_others

,_id,RegiUn,Tipo punto monitoreo,Sector,Semana,Fecha,Tipo producto,Producto,MInimo,M*ximo,Promedio
0,1,7,CarnicerÌa,Talca,28,2013-08-07T00:00:00,Carne de Bovino CategorÌa V,Abastero,3990,5998,"5029,64"
1,2,7,CarnicerÌa,CuricÛ,28,2013-08-07T00:00:00,Carne de Bovino CategorÌa V,Abastero,3498,4980,4491
2,3,7,CarnicerÌa,Talca,28,2013-08-07T00:00:00,Carne de Bovino CategorÌa V,Asado Carnicero,3990,5500,"4790,64"
3,4,7,CarnicerÌa,CuricÛ,28,2013-08-07T00:00:00,Carne de Bovino CategorÌa V,Asado Carnicero,3498,4980,4441
4,5,7,CarnicerÌa,Talca,28,2013-08-07T00:00:00,Carne de Bovino CategorÌa V,Asiento,4680,6998,"6243,6"
...,...,...,...,...,...,...,...,...,...,...,...
3495,3496,8,Supermercado,Penco,39,2013-09-23T00:00:00,"Carne de Pollo, Cerdo y Pavo",Chuleta (Parrillera),3290,3489,"3389,5"
3496,3497,8,Supermercado,Talcahuano-HualpÈn,39,2013-09-23T00:00:00,"Carne de Pollo, Cerdo y Pavo",Chuleta (centro),3990,4199,"4059,67"
3497,3498,8,Supermercado,ConcepciÛn,39,2013-09-23T00:00:00,"Carne de Pollo, Cerdo y Pavo",Chuleta (centro),3790,4499,"4137,44"
3498,3499,8,Supermercado,Chiguayante,39,2013-09-23T00:00:00,"Carne de Pollo, Cerdo y Pavo",Chuleta (centro),4190,4190,4190
3499,3500,8,Supermercado,Penco,39,2013-09-23T00:00:00,"Carne de Pollo, Cerdo y Pavo",Chuleta (centro),3290,3290,3290

### Datos nulos
Verificamos la cantidad de datos nulos

In [5]:
def null_data(df):
    return df.isnull().sum()

In [10]:
display(null_data(df_fruits))
display(null_data(df_others))

_id                     0
RegiUn                  0
Tipo punto monitoreo    0
Sector                  0
Semana                  0
Fecha                   0
Tipo producto           0
Producto                0
MInimo                  0
M*ximo                  0
Promedio                0
dtype: int64

_id                     0
RegiUn                  0
Tipo punto monitoreo    0
Sector                  0
Semana                  0
Fecha                   0
Tipo producto           0
Producto                0
MInimo                  0
M*ximo                  0
Promedio                0
dtype: int64

### Juntar ambos DataFrame
Al no existir datos nulos en los dataframe, se procede a unirlos de manera vertical

In [9]:
df = pd.concat([df_fruits, df_others])
df.head()

,_id,RegiUn,Tipo punto monitoreo,Sector,Semana,Fecha,Tipo producto,Producto,MInimo,M*ximo,Promedio
0,1,7,Feria libre,Talca,28,08/07/2013,Fruta-Hortaliza,Ajo Chino $/unidad 1a (guarda),125,150,"137,5"
1,2,7,Feria libre,CuricÛ,28,08/07/2013,Fruta-Hortaliza,Ajo Chino $/unidad 1a (guarda),100,160,140
2,3,7,Feria libre,Talca,28,08/07/2013,Fruta-Hortaliza,Ajo Chino $/unidad 2a (guarda),100,100,100
3,4,7,Feria libre,Talca,28,08/07/2013,Fruta-Hortaliza,Apio Americano $/unidad Primera,800,800,800
4,5,7,Feria libre,CuricÛ,28,08/07/2013,Fruta-Hortaliza,Apio Americano $/unidad Primera,800,900,850

# Conexión con la Base de Datos

In [1]:
import mysql.connector
import configparser
import pandas as pd

class Connection:

    """
        Inicializa una conexión a la base de datos utilizando la información de configuración proporcionada en
        el archivo 'config.ini'.
    """
    def __init__(self):
        config = configparser.ConfigParser()
        config.read('resources/config.ini')
        connection_info = config['database']

        self.connection = mysql.connector.connect(
            database=connection_info['database'],
            host=connection_info['host'],
            user=connection_info['user'],
            password=connection_info['password']
        )

    """
        Ejecuta una consulta en la base de datos y realiza una confirmación de la transacción.

        Args:
            query (str): La consulta SQL que se va a ejecutar.

    """
    def execute(self, query):
        cursor = self.connection.cursor()
        cursor.execute(query, multi=True)
        self.connection.commit()

    """
        Ejecuta una consulta SELECT en la base de datos y devuelve los resultados como una lista de tuplas.

        Args:
            query (str): La consulta SELECT SQL que se va a ejecutar.

        Returns:
            list: Una lista de tuplas que representan los resultados de la consulta.

    """
    def execute_select(self, query):
        cursor = self.connection.cursor()
        cursor.execute(query)
        result = cursor.fetchall()
        cursor.close()
        return result

    """
        Ejecuta una consulta SELECT en la base de datos y devuelve los resultados como un DataFrame de Pandas.

        Args:
            query (str): La consulta SELECT SQL que se va a ejecutar.

        Returns:
            pandas.DataFrame or None: Un DataFrame de Pandas que contiene los resultados de la consulta o None si no 
            hay resultados.

    """
    def execute_select_as_dataframe(self, query):
        result = self.execute_select(query)
        if result:
            cursor = self.connection.cursor()
            cursor.execute(query)
            columns = [desc[0] for desc in cursor.description]
            cursor.close()

            df = pd.DataFrame(result, columns=columns)
            return df
        else:
            return None

    """
        Ejecuta una consulta SELECT en la base de datos y devuelve los resultados como una lista de tuplas.

        Args:
            query (str): La consulta SELECT SQL que se va a ejecutar.

        Returns:
            list: Una lista de tuplas que representan los resultados de la consulta.

    """
    def select(self, query):
        cursor = self.connection.cursor()
        cursor.execute(query)
        result = cursor.fetchall()
        cursor.close()
        return result

    """
        Cierra la conexión a la base de datos.
    """
    def close(self):
        self.connection.close()